.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}

.FlightsLoading {
  text-align: center;
  color: white;
}

.FlightsError {
  text-align: center;
  color: red;
}

.FlightFilter {
  display: inline;
}
