.flights {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.FlightsLoading {
  text-align: center;
  color: white;
}

.FlightsError {
  text-align: center;
  color: red;
}

.flights ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes flights-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
